#header {
    @include position-fixed;
    z-index: 10000;
    padding: 10px;

    @media (max-width: 768px){
        padding: 0px;
    }
}

.logo__color {
    color: #ffffff;
    mix-blend-mode: difference;
    filter: invert(40%);
}

.header__inner {
    @include flex-between;
    background-color: rgba(116, 99, 99, 0.1);
    backdrop-filter: blur(45px); 
    // background: linear-gradient(-90deg, #666666, #777777, #666666);
    // background-size: 400% 400%;
    // animation: gradientWaves 50s ease infinite;
    // background-color: #888888;
    padding: 1rem;
    width: auto;
    min-height: 81px;
    border: 1px solid #ffffff;

    @keyframes gradientWaves {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
    }

    @media (max-width: 800px){
        border: 0px solid #ffffff;
    }

    .header__logo {
        font-size: 0.9rem;
        text-align: center;
        text-transform: uppercase;
        line-height: 1;

        em {
            font-size: 10px;
            display: block;
            color: var(--black200);
            mix-blend-mode: difference;
        }
    }
    
    .header__nav {

        @media (max-width: 800px){
            display: none;

            &.show {
                display: block;

                ul {
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 68px;
                    background-color: rgba(116,99,99,1);
                    backdrop-filter: blur(15px);
                    z-index: 10000;
                    min-width: 100vw;
                    padding: 20px 0;

                    li {
                        display: block;
                        text-align: center;

                        a {
                            display: inline-block;
                            padding: 10px;
                        }
                    }
                }
            }
            &.show + .header__nav__mobile span::before {
                width: 20px;
            }
            &.show + .header__nav__mobile span::after {
                width: 20px;
            }
        }
        
        li {
            display: inline;
    
            a {
                text-transform: uppercase;
                font-size: 14px;
                padding: 14px;
                position: relative;
                font-weight: 600;
    
                &::before {
                    content: '';
                    width: calc(100% - 28px);
                    height: 1px;
                    background-color: var(--black);
                    position: absolute;
                    left: 14px;
                    bottom: 10px;
                    transform: scaleX(0);
                    transition: all 0.3s;
                }
                &:hover::before {
                    transform: scaleX(1);
                }
            }
        }
    }
    
    .header__nav__mobile {
        display: none;
        width: 40px;
        height: 40px;
        cursor: pointer;

        @media (max-width: 800px){
            display: block;
        }

        span {
            display: block;
            width: 40px;
            height: 2px;
            background-color: var(--black);
            margin-top: 19px;
            position: relative;
            filter: invert(40%);

            &::before {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                right: 0;
                top: 6px;
                transition: width 0.3s;
            }
            &::after {
                content: "";
                width: 40px;
                height: 2px;
                background-color: var(--black);
                position: absolute;
                left: 0;
                bottom: 6px;
                transition: width 0.3s;
            }
        }
    }
} 