.more-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.content-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.content-item {
    width: calc(33.333% - 20px);
    background: #fff;
    padding: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out, max-height 0.5s ease-out;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.content-item.visible {
    opacity: 1;
    transform: translateY(0);
    max-height: 500px; /* 충분한 높이 설정 */
    visibility: visible;
}

.content-item img {
    max-width: 100%;
    border-radius: 10px;
}

.content-title {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px;
}

.content-subtitle {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.content-description {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.content-button {
    display: inline-block;
    padding: 8px 16px;
    background: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-wrap {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.load-more-button {
    display: inline-block;
    padding: 10px 20px;
    background: #28a745;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
