#profile { width: 100%; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center; background-color: #000000; color: white; text-align: center; position: relative; }

.profile_name, .profile_iam, .profile_introduce, .profile_imgText, .profile_scroll { opacity: 0; transform: translateY(40px); transition: opacity 1s ease-out, transform 1s ease-out; }

.profile_name ul, .profile_iam ul, .profile_introduce ul, .profile_imgText ul { list-style: none; padding: 0; }

.profile_introduce ul {
    padding: 100px 0;
}

.profile_split { font-size: 1rem; font-weight: bold; margin: 10px 0; }
.profile_split_left { text-align: left; font-size: 1rem; font-weight: bold; margin: 10px 0; }

.profile_imgText { display: flex; align-items: center; justify-content: center; margin-top: 30px; }

.profile_img { width: 150px; height: 150px; background: url('../img/kimeunsu.jpg') no-repeat center center/cover; border-radius: 10%; margin-right: 20px; }

.profile_scroll .profile_text { font-size: 1rem; font-weight: bold; margin-bottom: 10px; }

.profile_scroll .profile_arrow { margin: 5px 10px 10px 10px; width: 10px; height: 10px; border: solid white; border-width: 0 2px 2px 0; display: inline-block; transform: rotate(45deg); animation: profile_arrowBounce 1s infinite alternate; }

@keyframes profile_arrowBounce { from { transform: translateY(0px) rotate(45deg); } to { transform: translateY(10px) rotate(45deg); } }
