#wrap {
  display: flex;
}

#navmenu {
  display: flex;
  width: 20vw;
  position: fixed;
  margin: 67px 0 0 0px;
}

.homeview {
  width: 80%;
}

/*
.main {
  display: flex;
  justify-content: flex-end; 
}
*/

/* flex-direction: row; */
/* flex-wrap: nowrap; */
/* justify-content: center; */
/* overflow-x: hidden; */

.accordion {
  width: 100%;
  height: 100vh;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  padding: 1em;
  background-color: #f7f7f7;
  cursor: pointer;
  user-select: none;
}

.accordion-body {
  padding: 1em;
  display: none;
  background-color: #fff;
}

.accordion-body.show {
  display: block;
}

@media (max-width: 769px) {
  #navmenu {
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    background-color: #fff;
    text-align: center;
    padding: 0 0 0 0;
    z-index: 1000;
  }

  .homeview {
    width: 100%;
  }

  .accordion {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: white;
    z-index: 1000;
    height: auto;
  }
  
  .accordion-item {
    width: 33%;
    text-align: center;
  }
}